header,
header-es {

    position: fixed;
    z-index: 9;
    width: 100%;
    height: 80px;
    top: 0;
    // padding-top: 15px;

    @include media-breakpoint-down(lg) {
        padding-top: 25px;
    }

    &.scrolled {
        background-color: $bluegrey;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;

        h1 a {
            color: $white;
            // border-radius: 100%;
            // border-right: 10px $white solid;
        }

        .wp-block-navigation__responsive-container{

            li {
                color: $white;
            }

        }

        // li:last-child a {
        //     color: $bluegrey !important;

        //     &:hover {
        //         color: $white !important;
        //     }
        // }
    }

    .wp-block-site-title {
        margin: -10px 0 0;
        padding: 0;
        font-size: $h1;
        color: $white;
        letter-spacing: 1px;
        line-height: 1;
        font-family: $handwriting-2-font;

        @include media-breakpoint-down(lg) {
            width: 60vw;
            margin: -35px 0 0;
        }

        // a {
        //     color: $bluegrey;
        //     text-decoration: none;
        //     border-radius: 100%;
        //     border-right: 10px $bluegrey solid;
        //     padding: 5px 10px 5px 0;

        //     &.homepage-logo {
        //         color: $white;
        //         border-right: 10px $white solid;
        //         padding: 5px 10px 5px 0;
        //     }
        // }
    }

    @include media-breakpoint-down(lg){

        nav {

            margin-top: -13px;

            @media screen and (max-width: 320px){
                margin-top: -35px;
            }

        }

    }

}

body:not(.home) header .wp-block-site-title{
    color: $bluegrey;
}

body:lang(es):not(.home) header-es .wp-block-site-title{
    color: $bluegrey;
}