html.has-modal-open {

    nav .wp-block-navigation__responsive-container {
        overflow: hidden;
        position: fixed;    
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9999;
        
        background-color: lightgray;
        animation: slideIn 0.5s ease-in;
        animation-fill-mode:forwards;

        // keep close button visible
        button.wp-block-navigation__responsive-container-close {
            display: block;
        }
        
    }

    @keyframes slideIn {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0%);
        }
    }

    @keyframes slideOut {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(100%);
        }
    }

	.wp-block-navigation {

		&__container {
			display: block !important;
		}
	}

	.main-menu {
		
		.short-component {
			display: block;

            &:not(.is-menu-open) {
                display: none;
            }
		}
	}

}

.wp-block-navigation__responsive-container.is-menu-open {
    display: block;
}

// media queries by bootstrap breakpoints syntax
@include media-breakpoint-down(lg) {
    .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
        display: none;
    }

    .wp-block-navigation__responsive-container-open:not(.always-shown) {
        display: block;
    }
}

.wp-block-navigation__responsive-container {    

    &-content {

        @include media-breakpoint-up(md) {
            min-width: 500px;
        }

        ul {

            justify-content: flex-end;
            margin-top: -5px;

            li {
    
                color: $bluegrey;
                padding: 0 10px;
                font-weight: 400;

                &:hover {
                    color: $red !important;
                    transition: all 0.2s ease;
                }
    
                &::after {
    
                    content: '';
                    border-right: 1px $bluegrey solid;
                    display: block;
                    height: 100%;
                    position: absolute;
                    right: -13px;
    
                }
    
                &.current-menu-item {
                    color: $grey !important;
                    font-weight: 600;
                }

                &:last-child {
                    &::after {
                        display: none;
                    }

                    background-color: $grey;
                    padding: 10px 20px;
                    color: $bluegrey !important;

                    &:hover {
                        background-color: $darkred;
                        color: $white !important;
                        transition: all 0.2s ease;
                    }
                }
    
            }
    
        }

    } 

    &.is-menu-open {
        // &-content {
            ul {

                width: 100%;
                display: flex !important;
                align-items: center !important;

                li {

                    &::after {
                        display: none;
                    }

                    &:last-child {
                        padding: 0 !important;
                        font-weight: 400 !important;
                    }

                }

            }
        // }
    }

}

footer,
main ~ .wp-block-template-part {

    h1 {

        margin-top: 10px;

    }

    .wp-block-navigation__responsive-container {    

        &-content {
    
            min-width: 300px;
    
            ul {
    
                justify-content: space-between;
    
                li {
        
                    color: $bluegrey !important;
                    padding: 0;
    
                    &:hover {
                        color: $darkred !important;
                        transition: all 0.2s ease;
                    }
        
                    &::after {
        
                        content: '';
                        border-right: none !important;
        
                    }
        
                    &.current-menu-item {
                        color: $grey !important;
                        font-weight: 600;
                    }
    
                    &:last-child {
                        &::after {
                            display: none;
                        }

                        &:hover {
                            color: $darkred !important;
                            transition: all 0.2s ease;
                        }
    
                        background-color: transparent !important;

                    }
        
                }
        
            }
    
        } 
    
    }

}

.homepage-menu {
    
    color: $white !important;

    &::after {

        content: '';
        border-right: 1px $white solid !important;
        display: block;
        height: 100%;
        position: absolute;
        right: -13px;

    }
  
}

@include media-breakpoint-up(lg) {
    .wp-block-navigation__responsive-container-open,
    .wp-block-navigation__responsive-container-close {
        display: none;
    }
}