
.section {

    &__blogposts {

        .about_btn {
            margin: 0 auto 40px;

            & ~ .wp-block-heading {
                margin-bottom: 50px;
            }
        }

        ul {

            li {

                min-height: 450px;
                border-radius: 2px;
                box-shadow: 0 0 15px lightgrey;

                .wp-block-post-featured-image {
                    height: 100%;
                    img {
                        height: 100%;
                    }
                }

                .wp-block {

                    &-post-title {
                        position: absolute;
                        max-width: 30%;
                        bottom: 0px;
                        padding-left: 20px;
                        transition: all 0.2s ease;
                        a {
                            color: $white;
                            font-weight: 700;
                            line-height: 1.2;
                        }
                    }

                    &-post-date {
                        font-size: 12px;
                        position: absolute;
                        bottom: 25px;
                        padding-left: 140px;    
                        color: $white;
                        opacity: 0;
                        transition: all 0.2s ease;
                    }

                    &-post-terms {
                        position: absolute;
                        top: 20px;
                        padding-left: 20px;
                    }

                    &-read-more {
                        position: absolute;
                        bottom: 20px;
                        padding-left: 20px;
                        opacity: 0;
                        transition: all 0.2s ease;
                    }

                } 

                &:hover {

                    .wp-block-post-title {
                        bottom: 40px;
                        transition: all 0.2s ease;
                        a {
                            color: $white !important;
                        }
                    }

                    .wp-block-post-date {
                        opacity: 1;
                        transition: all 0.2s ease;
                    }

                    .wp-block-read-more {
                        opacity: 1;
                        transition: all 0.2s ease;
                    }

                }

            }

        }

    }

    &__fixed-block {

        min-height: 400px;
        margin-bottom: 100px;

        .areoi-background__image {

            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &__testimonial {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 25px;
        gap: 40px;
        height: 100%;

        .testimonial-item {

            background-color: $white;
            border-radius: 2px;
            box-shadow: 0 0 15px lightgrey;
            padding: 40px;

            &__image {
                float: left;
                padding-right: 10px;

                img {
                    width: 70px;
                    background-color: lightgrey;
                    border-radius: 100%;
                }
            }

            &__name {

                font-weight: 700;
                font-size: 18px;
                color: $darkblue;
                padding-top: 13px;

            }

        }

    }

    &__hero-banner {

        padding-top: 100px;
        padding-bottom: 100px;
    
        margin-top: 130px !important;
    
        background-image: url('../../assets/images/svg/planos.svg');
        background-repeat: no-repeat;
        background-position: 75% 300%;
        background-size: auto;
        background-color: #F4F4F8;
    
    }

    &__blog{

        &-content {

            background-color: white;
            margin: -200px 40px 40px;
            width: auto;
            box-shadow: 0px 3px 15px lightgrey;
            background-blend-mode: multiply;

            .col {
                padding: 40px;

                p{
                    color: $darkblue;
                }

            }

            .wp-block-post-date {
                padding-left: 20px;
                &:before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: url('../../assets/images/svg/calendar.svg');
                    background-repeat: no-repeat;
                    background-position: left center;
                    background-size: auto;

                }
            }

        }

        &-image {
            max-height: 500px;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                max-height: 500px;
            }
        }

    }

    &__property-item {

        padding: 20px 0 0;

        &__title{
            font-size: 18px;
            font-weight: 700;
            color: $darkblue;
            margin-bottom: 0px;
        }

        &__price p{
            font-size: 18px;
            font-weight: 400;
            color: $orange;
            margin-bottom: 10px;
        }

    }

}