
.section {

    &__blogposts {

        .about_btn {
            margin: 0 auto 40px;

            & ~ .wp-block-heading {
                margin-bottom: 50px;
            }
        }

        ul {

            li {

                min-height: 450px;
                border-radius: 2px;
                box-shadow: 0 0 15px lightgrey;

                .wp-block-post-featured-image {
                    height: 100%;
                    img {
                        height: 100%;
                    }
                }

                .wp-block {

                    &-post-title {
                        position: absolute;
                        max-width: 30%;
                        bottom: 0px;
                        padding-left: 20px;
                        transition: all 0.2s ease;
                        a {
                            color: $white;
                            font-weight: 700;
                            line-height: 1.2;
                        }
                    }

                    &-post-date {
                        font-size: 12px;
                        position: absolute;
                        bottom: 25px;
                        padding-left: 140px;    
                        color: $white;
                        opacity: 0;
                        transition: all 0.2s ease;
                    }

                    &-post-terms {
                        position: absolute;
                        top: 20px;
                        padding-left: 20px;
                    }

                    &-read-more {
                        position: absolute;
                        bottom: 20px;
                        padding-left: 20px;
                        opacity: 0;
                        transition: all 0.2s ease;
                    }

                } 

                &:hover {

                    .wp-block-post-title {
                        bottom: 40px;
                        transition: all 0.2s ease;
                        a {
                            color: $white !important;
                        }
                    }

                    .wp-block-post-date {
                        opacity: 1;
                        transition: all 0.2s ease;
                    }

                    .wp-block-read-more {
                        opacity: 1;
                        transition: all 0.2s ease;
                    }

                }

            }

        }

    }

    &__fixed-block {

        min-height: 400px;
        margin-bottom: 100px;

        .areoi-background__image {

            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &__testimonial {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 25px;
        gap: 40px;
        height: 100%;

        .testimonial-item {

            background-color: $white;
            border-radius: 2px;
            box-shadow: 0 0 15px lightgrey;
            padding: 40px;

            &__image {
                float: left;
                padding-right: 10px;

                img {
                    width: 70px;
                    background-color: lightgrey;
                    border-radius: 100%;
                }
            }

            &__name {

                font-weight: 700;
                font-size: 18px;
                color: $darkblue;
                padding-top: 13px;

            }

        }

    }

    &__hero-banner {

        padding-top: 100px;
        padding-bottom: 100px;
    
        margin-top: 130px !important;
    
        background-image: url('../../assets/images/svg/planos.svg');
        background-repeat: no-repeat;
        background-position: 75% 300%;
        background-size: auto;
        background-color: #F4F4F8;

        h2 {
            font-size: 40px;
            font-weight: 700;
            color: $darkblue;
            margin-bottom: 20px;
        }

        span {
            font-size: 18px;
            font-weight: 400;
            color: $darkblue;
            margin-bottom: 20px;

            a {
                color: $orange;
                font-weight: 400;
            }
        }
    
    }

    &__blog{

        &-content {

            background-color: white;
            margin: -200px 40px 40px;
            width: auto;
            box-shadow: 0px 3px 15px lightgrey;
            background-blend-mode: multiply;

            .col {
                padding: 40px;

                p{
                    color: $darkblue;
                }

            }

            .wp-block-post-date {
                padding-left: 20px;
                &:before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: url('../../assets/images/svg/calendar.svg');
                    background-repeat: no-repeat;
                    background-position: left center;
                    background-size: auto;

                }
            }

        }

        &-image {
            max-height: 500px;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                max-height: 500px;
            }
        }

    }

    &__property-item {

        padding: 20px 0 0;

        &__title{
            font-size: 18px;
            font-weight: 700;
            color: $darkblue;
            margin-bottom: 0px;
        }

        &__price p{
            font-size: 18px;
            font-weight: 400;
            color: $orange;
            margin-bottom: 10px;
        }

    }

    &__ourservices {

        margin-top: 100px;

        .container > .row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 25px;
            gap: 40px;


           > .col {

                &:nth-child(1){
                    .card {
                        .card-header {
                            min-height: 80px;
                            width: 100%;
                            &::before {
                                content: '';
                                width: 100%;
                                height: 60px;
                                padding-bottom: 20px;
                                position: absolute;
                                left: 0;
                                z-index: 1;
                                background-image: url("../../assets/images/svg/services-dark-1.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: contain;
                            }
                        }

                        &:hover {
                            .card-header {
                                &::before {
                                    transition: all 0.2s ease;
                                    background-image: url("../../assets/images/svg/services-orange-1.svg");
                                }
                            }
                        }
                    }
                }

                &:nth-child(2){
                    .card {
                        .card-header {
                            min-height: 80px;
                            width: 100%;
                            &::before {
                                content: '';
                                width: 100%;
                                height: 60px;
                                position: absolute;
                                left: 0;
                                z-index: 1;
                                background-image: url("../../assets/images/svg/services-dark-2.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: contain;
                            }
                        }

                        &:hover {
                            .card-header {
                                &::before {
                                    transition: all 0.2s ease;
                                    background-image: url("../../assets/images/svg/services-orange-2.svg");
                                }
                            }
                        }
                    }
                }

                &:nth-child(3){
                    .card {
                        .card-header {
                            min-height: 80px;
                            width: 100%;
                            &::before {
                                content: '';
                                width: 100%;
                                height: 60px;
                                position: absolute;
                                left: 0;
                                z-index: 1;
                                background-image: url("../../assets/images/svg/services-dark-3.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: contain;
                            }
                        }

                        &:hover {
                            .card-header {
                                &::before {
                                    transition: all 0.2s ease;
                                    background-image: url("../../assets/images/svg/services-orange-3.svg");
                                }
                            }
                        }
                    }
                }

                &:nth-child(4){
                    .card {
                        .card-header {
                            min-height: 80px;
                            width: 100%;
                            &::before {
                                content: '';
                                width: 100%;
                                height: 60px;
                                position: absolute;
                                left: 0;
                                z-index: 1;
                                background-image: url("../../assets/images/svg/services-dark-4.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: contain;
                            }
                        }

                        &:hover {
                            .card-header {
                                &::before {
                                    transition: all 0.2s ease;
                                    background-image: url("../../assets/images/svg/services-orange-4.svg");
                                }
                            }
                        }
                    }
                }

                &:nth-child(5){
                    .card {
                        .card-header {
                            min-height: 80px;
                            width: 100%;
                            &::before {
                                content: '';
                                width: 100%;
                                height: 60px;
                                position: absolute;
                                left: 0;
                                z-index: 1;
                                background-image: url("../../assets/images/svg/services-dark-5.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: contain;
                            }
                        }

                        &:hover {
                            .card-header {
                                &::before {
                                    transition: all 0.2s ease;
                                    background-image: url("../../assets/images/svg/services-orange-5.svg");
                                }
                            }
                        }
                    }
                }

                &:nth-child(6){
                    .card {
                        .card-header {
                            min-height: 80px;
                            width: 100%;
                            &::before {
                                content: '';
                                width: 100%;
                                height: 60px;
                                position: absolute;
                                left: 0;
                                z-index: 1;
                                background-image: url("../../assets/images/svg/services-dark-6.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: contain;
                            }
                        }

                        &:hover {
                            .card-header {
                                &::before {
                                    transition: all 0.2s ease;
                                    background-image: url("../../assets/images/svg/services-orange-6.svg");
                                }
                            }
                        }
                    }
                }

           }

        }

        .card {

            background: none;
            border: none;
            box-shadow: 0 0 10px lightgrey;
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 30px;
            cursor: pointer;

            min-height: 370px;

            &-header,
            &-body,
            &-footer {
                border: none;
                background-color: transparent;
            }

            &:hover {

                border-bottom: 2px solid $orange;
                transition: all 0.2s ease;

            }


            &-footer {
                .wp-block-button__link {
                    &:after {
                        content: '';
                        width: 15px;
                        height: 15px;
                        background-color: transparent;
                        display: inline-block;
                        margin-left: 10px;
                        position: relative;
                        top: 2px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        background-image: url('../../assets/images/svg/arrow-right.svg');
                    }
                }
            }

        }

    }

    &__contact {

        box-shadow: 0 0 15px lightgrey;
        border-radius: 5px;
        padding: 100px 70px;

        .info {

            border-radius: 50px;

            display: flex;
            justify-content:center;
            align-items:baseline;
            flex-direction: column;

            padding: 15px 30px;
            max-width: 90%;

            margin-bottom: 20px;

            .wp-block-heading,
            p  {
                margin-bottom: 0;
                padding-left: 60px;
            }

            &::before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                background-image: url('../../assets/images/svg/contact-1.svg');
                background-repeat: no-repeat;
                background-position: left center;
                background-size: contain;
            }

            &:hover{
                background-color: rgba($orange, 0.1);
                cursor: pointer;
                transition: all 0.2s ease;
            }

        }

    }

}