
.section {

    &__service{

        &-red {

            margin: 0;
            > .row {
                padding: 100px 0 !important;
            }

            background-color: $darkred;

            color: $white;

            

            @include media-breakpoint-up(xl){
                //bars
                .container .row > .col:first-child {
                    border-right: #f7f7f7 1px solid;
                }

                h2 {
                    font-size: 64px;
                }
            }

            p {
                font-size: 21px;

                @include media-breakpoint-down(xl) {
                    text-align: left !important;
                }
            }

            &.dev {
                h2 {
                    padding-right: 25%;
                    padding-left: 5%;
                    @include media-breakpoint-down(xl) {
                        padding-left: 0;
                    }
                }
    
                p {
                    padding-right: 5%;
                }
            }

            &.pwa {
                h2 {
                    padding-right: 5%;
                    padding-left: 25%;
                    @include media-breakpoint-down(xl) {
                        padding-left: 0;
                        padding-right: 20%;
                        text-align: left;
                        margin-bottom: -15px;
                    }
                }
    
                p {
                    padding-left: 5%;
                    @include media-breakpoint-down(xl) {
                        padding-left: 0;
                    }
                }
            }

        }

        &-list {

            margin: 100px 0;

            @include media-breakpoint-up(xl){

                &.left {
                    background-image: url('../../assets/images/img/webuild.png');
                    background-position: left;
                    background-repeat: no-repeat;
                    background-size: 50% 100%;
                }
    
                &.right {
                    background-image: url('../../assets/images/img/pwaimg.png');
                    background-position: right;
                    background-repeat: no-repeat;
                    background-size: 50% 100%;
                }

            } 

            .dev {
                ol {
                    padding: 0 0 0 50px;

                    @include media-breakpoint-down(md) {
                        padding: 0 0 0 20px;
                    }

                    li {
                        font-size: 21px;
                        font-weight: 300;
                        line-height: 1.75;
                        // margin-bottom: 1.5em;
                        margin-top: 0;
                        letter-spacing: .3px;
                        font-family: $body-font;

                        strong {
                            font-weight: 500 !important;
                            color: $darkred;
                        }
                    }
                }
            }

        }

    }

    &__quote {

        color: $white;

        @include media-breakpoint-up(md) {
            margin-bottom: 100px;
        }

        padding-top: 50px;
        padding-bottom: 50px;
        background: rgb(62,63,65);
        background: radial-gradient(circle at right, rgba(62,63,65,7) 0%, rgba(62,63,65,0.8) 25%, rgba(62,63,65,1) 100%);

        &--content {

            display: flex;
            justify-content: center;
            // align-items: center;
            flex-direction: column;

            h2 {
                font-weight: 700;
                margin: 0;
                padding: 0;
            }

            p {
                font-weight: 300;
                margin: 0;
                padding: 0;
            }

            @include media-breakpoint-down(lg) {
                text-align: center;
            }

        }

        &--button {

            display: flex;
            justify-content:center;
            align-items: center;

            .wp-block-button__link {

                background-color: $grey !important;
                color: $bluegrey !important;
                padding: 20px 50px !important;
                font-weight: 700 !important;

            }
            

        }

    }

    &__process-goes {

        background-color: $bluegrey;
        color: $white;

        padding-top: 100px;
        margin: 0;

        &.goes2{
            padding-bottom: 100px;
        }


        h2 {
            color: $white;
            font-size: 63px;
            z-index: 1;
            margin-bottom: 0;

            & + p {
                color: $white;
                font-size: 24px;
                z-index: 1;
                margin-top: 0;
            }
        }

        &--content {

            padding: 40px;
            background-color: #f7f7f7;
            color: $bluegrey;

            .wp-block-heading {
                font-weight: 700;
                line-height: 1.2;
                margin-bottom: 0.5em;
                margin-top: 0;
                z-index: 1;
            }

        }

        .howitgoes-swiper {

            overflow: hidden;

            .swiper-wrapper {
                flex-wrap: nowrap;

                .swiper-slide {
                    margin: 0;
                    min-height: 400px;

                    @include media-breakpoint-down(sm) {
                        margin-left: 3.4px;
                    }
                }
            }

            .swiper-button{

                &-prev, 
                &-next {
                    color: $white;
                    font-size: 40px;
                    z-index: 1;
                    position: relative;
                    padding-bottom: 45px;
                     margin: 20px 0;
                }

                &-prev {
                    float: left;
                }
                &-next {
                    float: right;
                }

            }

        }


    }

    &__latest-post {

        &--title {

            margin-top: 100px;

            h2 {
                color: $bluegrey;
                font-weight: 700;
                font-size: 64px;
                z-index: 1;
                @include media-breakpoint-down(md){
                    font-size: 48px;
                }
            }

        }

        &--content {

            padding: 0 20px;

            @include media-breakpoint-down(md) {
                .row .col > div {
                    padding: 0 20px !important;
                }
            }

            a {
                font-weight: 700;
                line-height: 1.2;
                margin-bottom: 0.5em;
                margin-top: 0;
                z-index: 1;
            }

        }

    }

    &__work {

        &--title {

            .wp-block-heading{
                font-size: 64px;
                font-weight: $semibold;
                margin-bottom: 0;
                margin-top: 100px;
            }

            p {
                font-family: $handwriting-2-font;
                color: $gold;
                font-size: 64px;
                margin-bottom: 0;
                @include media-breakpoint-down(md) {
                   line-height: 45px;
                }
                @media screen and (max-width: 320px){
                    font-size: 42px;
                }
            }

        }

        &--grid {

            margin: 50px 0 100px 0 !important;

            .card-group {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 25px;
                gap: 25px;
                height: 100%;

                @include media-breakpoint-down(lg) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @include media-breakpoint-down(sm) {
                    grid-template-columns: repeat(1, 1fr);
                }
            }

            

            .card-body {
                overflow: hidden;
                padding: 0;
                min-height: 350px;

                &:after{
                    content: "";
                    opacity: 0;
                }

                &:hover::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($bluegrey,0.6);
                    transition: all 0.3s ease-in-out;
                    opacity: 1;
                }

                .project-item {

                    &__content{

                        height: 100%;
                        padding: 0 50px;
                        color: $white;

                    }

                    &__description{

                        text-align: center;

                    }

                }

                &:hover {

                    .project-item {

                        &__content {
                            z-index: 2;
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            transition: all 0.3s ease-in-out;
                        }

                    }
                    
                }

                .project-item {
                    &__image{
                        img {
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }
            }

        }

    }

    &__projects {

        max-height: 50vh;
        min-height: 500px;
        overflow: hidden;

        margin-block-end: 150px !important;

        .project-item {

            &__image {

                height: 100%;

                a {

                    width: 100%;
                    height: 50vh;
                    min-height: 500px;

                }

                img {
                    width: 100%;
                    height: 50vh;
                    min-height: 500px;
                    object-fit: cover !important;
                    object-position: center !important;
                }

            }

            &__content {

                z-index: 9;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 50vh;
                min-height: 500px;

                padding: 50px;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,0.3);
                    z-index: -1;
                }

                .project-item{

                    &__title {

                        color: $white;
                        font-weight: 700;
                        font-size: 64px;
                        z-index: -1;
                        position: relative;

                    }

                    &__description {

                        position: relative;
                        z-index: -1;

                        p {
                            color: $white;
                            font-weight: 300;
                            font-size: 24px;
                            z-index: -1;
                            position: relative;
                        }

                    }

                    &__span {

                        position: relative;
                        z-index: -1;

                        span {

                            color: $white;
                            font-weight: 500;
                            font-size: 24px;
                            z-index: -1;
                            position: relative;

                        }

                    }

                }

            }

        }

    }

    &__companies{

        &--header {
            padding-top: 100px;

            h2 {
                color: $darkred;
                font-weight: 700;
            }
        }

        &--grid{
            padding-bottom: 60px;

            & > div {

                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 20px;
                padding: 50px 0;

                @include media-breakpoint-down(xl) {
                    grid-template-columns: repeat(3, 1fr);
                }

                @include media-breakpoint-down(lg) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @include media-breakpoint-down(md) {
                    grid-template-columns: repeat(1, 1fr);
                }
    
                & > div > div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    padding: 20px 10px 10px;
                    opacity: .5;
    
                    // padding: 20px 0;
                    background-color: white;

                    &:hover {
                        opacity: 1;
                        transition: all 0.3s ease-in-out;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #e3e3e3;
                    }
    
                    img {
                        max-width: 50px;
                        max-height: 50px;
                        object-fit: contain;
                        margin-right: 20px;
                    }
                }
    
            }
        }

    }

    &__contact {

        background-color: $bluegrey;

        margin-block-start: 150px !important;
        margin-block-end: 150px !important;

        &--details {

            background-color: #f7f7f7 !important;
            padding: 40px 80px;

            @include media-breakpoint-down(md) {
                padding: 40px 20px;
            }

            h1 {
                color: $bluegrey;
                font-weight: 700;
                font-size: 64px;
                z-index: 1;
            }

            a {

                color: $bluegrey;
                font-weight: 700;
                font-size: 24px;
                z-index: 1;

                &:hover {
                    color: $darkred;
                    transition: all 0.3s ease-in-out;
                }

            }

        }

        &--form {

            

        }

    }

}