.home{

    &__intro {

        min-height: 100vh;

        background-image: url('../../assets/images/img/programmer-wps.jpg');
        background-size: cover;
        background-position: 85%;
        background-repeat: no-repeat;
        background-attachment: fixed;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: rgb(0,0,0);
            background: linear-gradient(145deg, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.4) 85%, rgba(255, 255, 255, 0.3) 85%, rgba(255, 255, 255,0.3) 100%);
        }

        h1 {
            font-size: 84px;
            font-weight: lighter;
            text-align: right;
            &:lang(es){
                font-size: 75px;
                @include media-breakpoint-down(sm){
                    font-size: 40px;
                }
                @include media-breakpoint-down(xsm){
                    font-size: 1.52rem;
                }
            }
            strong{
                color: $darkred;
                font-size: 64px;
                font-family: $handwriting-font;
                position: absolute;
                top: 25px;
                left: -5px;
                transform: rotate(5deg);
                &:lang(es){
                    left: 150px;
                    @include media-breakpoint-down(xl){
                        left: 130px;
                    }
                    @include media-breakpoint-down(xsm){
                        top: 0;
                    }
                }
                @include media-breakpoint-down(sm){
                    font-size: 32px;
                    top: 40px;
                    left: 13%;
                    &:lang(es){
                        left: 75px;
                        font-size: 45px;
                    }
                }
                @include media-breakpoint-down(xsm){
                    left: 0;
                    position: relative;
                    float: left;
                    top: 0;
                }

                @media screen and (max-width: 320px) {
                    float: left;
                    position: relative;
                    top: 40px;
                    left: 0;
                    font-size: 24px;
                }
            }
            span{
                font-family: $handwriting-font;
                color:$darkred;
                font-size: 72px;
                margin-right: -50px;
                position: relative;
                z-index: 2;
            }
        }

        h1 ~ div {
            display: flex;
            justify-content: flex-start;
        }

        h1,
        h2,
        h4 {
            color: $white;

            @include media-breakpoint-down(xl){
                max-width: 70%;

                &:lang(es){
                    max-width: 100%;
                }
            }


            @include media-breakpoint-down(lg){
                max-width: 100%;
            }

            @include media-breakpoint-down(md){
                max-width: 90%;
            }

        }

        @include media-breakpoint-down(xsm) {
            h2 {
                display: none !important;
            }

            h1 {
                font-size: 32px;
                margin-top: 80px;
            }
        }        

        h2 {
            color: $red;
            font-weight: 800;
            @include media-breakpoint-down(sm) {
                font-size: 24px;
                text-shadow: 1px 1px #ccc;
            }
        }

        h4 {
            font-weight: 300;
            padding-bottom: 30px;
        }

        > .row {

            height: 100vh;

            > div {
                display: flex;
                align-content: center;
                flex-wrap: wrap;
            }

            .container {

                p,
                p ~ .devices-icons * {
                    float: left;
                }
                
                img {
                    margin-right: 20px;
                }

            }

        }

        @include media-breakpoint-between(md,xl) {
            & .container > .row > div {
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                h1 {
                    position: absolute;
                    top: 25%;
                }
            }
        }

        @include media-breakpoint-down(sm) {

            h1 {
                font-size: 40px;

                @include media-breakpoint-down(sm) {
                    font-size: 32px;
                }
            }

            > .row {
                .container {

                    > .row {

                        height: 80vh;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        padding: 10vh 0;

                       > .col {

                            h1 {
                                padding-top: 5vh;
                            }

                            .wp-block-spacer {
                                height: 10vh !important;
                            }
        
                            h4.wp-block-heading {
                                font-size: 24px;
                                text-shadow: 2px 2px 0px rgba(0,0,0,0.8);
                                // color: $bluegrey;
                                font-weight: 400;

                                @media screen and (max-width: 320px){
                                    font-size: 20px;
                                }
                            }
        
                            p {
        
                                width: 100% !important;
        
                            }

                        }

                    } 

                }
            }

        }

    }

    .services {

        &__intro {

            margin-bottom: 0px;
            margin-top: 0;

            > .row {
                padding: 50px 0 50px 0;
            }

            background: linear-gradient(25deg, rgba(62,63,65,1) 0%,rgba(62,63,65,1) 60%, rgba(44,41,24, 1) 60%, rgba(44,41,24,1) 100%);

            h3 {
                color: $gold;
                font-family: $handwriting-2-font;
                font-size: 48px;
            }

            h2 {
                color: $white;
                font-size: 56px;
                margin-bottom: 0;
            }

            .icons-cross {

                .row {

                    .col {

                        > div  {

                            display: flex;
                            justify-content: end;
                            column-gap: 20px;

                                @include media-breakpoint-down(sm) {
                                    img {
                                        width: 70px !important;
                                        height: 70px !important;
                                    }
                                }

                            }


                            p {
                                text-align: right;
                            }

                        

                    }

                }


            }

        }

        &__content {

            padding: 50px 20px;

            @include media-breakpoint-up(xl) {
                .left {
                    padding-right: 50px;
                }
    
                .right {
                    padding-left: 50px;
                }
            }

            .row {

                .col {
                    // padding: 0 20px;

                    .wp-block-heading {
                        color: $darkred;

                        @include media-breakpoint-down(lg) {
                            padding-bottom: 30px;
                        }
                    }
                }

            }

            img {
                max-height: 250px;
                object-fit: cover;
                @include media-breakpoint-down(xl) {
                    object-position: top;
                }
                @include media-breakpoint-down(sm) {
                    height: 200px !important;
                    margin-bottom: 30px;
                }
            }

            @include media-breakpoint-down(sm){
                p {
                    text-align: left !important;
                }
            }
            
        }

        &__img {

            figure {
                max-height: 350px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover !important;
                    object-position: bottom !important;
                }
            }
            
        }

    }

}