main {

    margin-block-start: 0 !important;
    
    &.wp-block-group {
        padding: 0;
    }

}

// body {

//     background-color: $lightgrey;
    
// }

.container-fluid {

    max-width: none !important;

}

img {

    max-width: 100%;
    height: auto;

}

.u-faux-box-link {
    position: relative;
}

// Overlay styling
.u-faux-box-link__overlay {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    text-indent: 200%;
    white-space: nowrap;

    background: transparent;
    z-index: 2;
}

.swiper-pagination {
    &-bullet {
        background-color: $orange;
        opacity: 1;
    }
}

.swiper-button {

    &-prev,
    &-next {
        width: 100px;
        height: 70px;
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: absolute;
        }
    }

    &-prev {
        &::after {
            content: '';
            background-image: url(../../assets/images/svg/arrow-right-orange.svg);
            transform: rotate(180deg);
            left: -45px;
        }
    }

    &-next {
        &::after {
            content: '';
            background-image: url(../../assets/images/svg/arrow-right-orange.svg);
            transform: rotate(0deg);
            right: -45px;
        }
    }

}

.wp-block{
    &-categories-list {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
        li {
            display: block;
            margin-right: 10px;
            background-color: rgba($orange, 0.1);
            padding: 5px 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            color: $orange;
            a {
                color: $orange;
                font-size: 16px;
                font-weight: 400;
                text-decoration: none;
                &:hover {
                    color: $orange;
                }
            }
        }
    }
}

    